:root {
  font-family: Avenir, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
  max-width: 1200px;
  margin: auto;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}

a:hover {
  transform: translate(1px, 1px);
}

.tag {
  color: #fff;
  font-weight: 500;
  align-self: start;
  margin-left: 0.15rem;
  padding: 0.3rem 1.2rem;
  border-radius: 5px;
}

.simpleTag {
  background-color: #e17654;
}

.ruggedTag {
  background-color: #115e59;
}

.luxuryTag {
  background-color: #161616;
}
